In [1]:
import pandas as pd
import re
import linecache
import numpy as np
file_path='/Users/diegobarbosa/Desktop/Limits/LimitCardsMaker_Zprime_13TeV_2021/output_etau/output_etau_errors.txt'
file_path1='/Users/diegobarbosa/Desktop/Limits/LimitCardsMaker_Zprime_13TeV_2021/output_etau/output_etau_yields.txt'
column_names = ['Errors_data', 'errors_Z0250', 'errors_Z0500', 'errors_Z0750', 'errors_Z1000',
               'errors_Z1250', 'errors_Z1500', 'errors_Z1750', 'errors_Z2000', 'errors_Z2250', 
               'errors_Z2500', 'errors_Z2750', 'errors_Z3000', 'errors_Z3500', 'errors_Z4000', 
               'errors_W+Jets','errors_DY+Jets', 'errors_ttbar', 'errors_VV', 'errors_QCD',
                'errors_SingleTop']
column_names1 = ['data', 'Z0250', 'Z0500', 'Z0750', 'Z1000',
               'Z1250', 'Z1500', 'Z1750', 'Z2000', 'Z2250', 
               'Z2500', 'Z2750', 'Z3000', 'Z3500', 'Z4000', 
               'W+Jets','DY+Jets', 'ttbar', 'VV', 'QCD',
                'SingleTop']

In [2]:
data = pd.read_csv(file_path,sep='  ',names=column_names)
data1=pd.read_csv(file_path1,delimiter='\t',names=column_names1)

/Users/diegobarbosa/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [3]:
data

,Errors_data,errors_Z0250,errors_Z0500,errors_Z0750,errors_Z1000,errors_Z1250,errors_Z1500,errors_Z1750,errors_Z2000,errors_Z2250,...,errors_Z2750,errors_Z3000,errors_Z3500,errors_Z4000,errors_W+Jets,errors_DY+Jets,errors_ttbar,errors_VV,errors_QCD,errors_SingleTop
0,0.0,1.07,1.04,1.06,1.08,1.11,1.16,1.26,1.32,1.42,...,1.41,1.46,1.51,1.58,1.16,1.14,1.10,1.04,1.04,1.27
1,0.0,1.29,1.02,1.02,1.02,1.03,1.04,1.07,1.09,1.10,...,1.13,1.15,1.18,1.23,1.15,1.20,1.13,1.03,1.04,1.18
2,0.0,0.00,1.04,1.01,1.02,1.02,1.02,1.04,1.05,1.05,...,1.08,1.08,1.10,1.11,1.85,2.25,1.22,1.06,1.08,1.17
3,0.0,0.00,1.22,1.03,1.01,1.01,1.02,1.03,1.03,1.04,...,1.05,1.05,1.06,1.08,1.74,2.39,1.39,1.13,1.12,1.30
4,0.0,0.00,0.00,1.08,1.03,1.01,1.01,1.01,1.01,1.02,...,1.02,1.02,1.02,1.03,1.03,1.67,1.58,1.25,1.16,1.43
5,0.0,0.00,0.00,2.00,1.22,1.07,1.03,1.02,1.02,1.01,...,1.01,1.01,1.01,1.01,1.04,2.05,0.00,0.00,1.44,1.44

In [4]:
#########2017########################
#data.iloc[:,15]=data.iloc[:,15]*1.3+0.03 #W+Jets
#data.iloc[:,16]=data.iloc[:,16]*1.5+0.0549 #DY+Jets
#data.iloc[:,17]=data.iloc[:,17]+0.05 #ttbar
########2016#########################
#data.iloc[:,15]=data.iloc[:,15]+0.0851 #W+Jets
#data.iloc[:,16]=data.iloc[:,16]+0.0612 #DY+Jets
#data.iloc[:,17]=data.iloc[:,17]+0.0595 #ttbar
########2018#########################
data.iloc[:,15]=data.iloc[:,15]*1.2+0.0987 #W+Jets
data.iloc[:,16]=data.iloc[:,16]*1.4+0.0666 #DY+Jets
data.iloc[:,17]=data.iloc[:,17]+0.040 #ttbar
####################################

In [5]:
data

,Errors_data,errors_Z0250,errors_Z0500,errors_Z0750,errors_Z1000,errors_Z1250,errors_Z1500,errors_Z1750,errors_Z2000,errors_Z2250,...,errors_Z2750,errors_Z3000,errors_Z3500,errors_Z4000,errors_W+Jets,errors_DY+Jets,errors_ttbar,errors_VV,errors_QCD,errors_SingleTop
0,0.0,1.07,1.04,1.06,1.08,1.11,1.16,1.26,1.32,1.42,...,1.41,1.46,1.51,1.58,1.4907,1.6626,1.14,1.04,1.04,1.27
1,0.0,1.29,1.02,1.02,1.02,1.03,1.04,1.07,1.09,1.10,...,1.13,1.15,1.18,1.23,1.4787,1.7466,1.17,1.03,1.04,1.18
2,0.0,0.00,1.04,1.01,1.02,1.02,1.02,1.04,1.05,1.05,...,1.08,1.08,1.10,1.11,2.3187,3.2166,1.26,1.06,1.08,1.17
3,0.0,0.00,1.22,1.03,1.01,1.01,1.02,1.03,1.03,1.04,...,1.05,1.05,1.06,1.08,2.1867,3.4126,1.43,1.13,1.12,1.30
4,0.0,0.00,0.00,1.08,1.03,1.01,1.01,1.01,1.01,1.02,...,1.02,1.02,1.02,1.03,1.3347,2.4046,1.62,1.25,1.16,1.43
5,0.0,0.00,0.00,2.00,1.22,1.07,1.03,1.02,1.02,1.01,...,1.01,1.01,1.01,1.01,1.3467,2.9366,0.04,0.00,1.44,1.44

In [6]:
data1.iloc[:,1:15]=data1.iloc[:,1:15]*0.01

In [7]:
#data1.iloc[2,0]=70

In [8]:
data1

,data,Z0250,Z0500,Z0750,Z1000,Z1250,Z1500,Z1750,Z2000,Z2250,...,Z2750,Z3000,Z3500,Z4000,W+Jets,DY+Jets,ttbar,VV,QCD,SingleTop
0,445.0,0.02986,0.08166,0.03227,0.01864,0.00976,0.00444,0.00361,0.00246,0.00152,...,0.00160,0.00114,0.00088,0.00082,127.868,27.464,25.551,106.742,42.034,131.626
1,379.0,0.00195,0.41231,0.36358,0.21023,0.12793,0.07338,0.05373,0.03593,0.02338,...,0.01452,0.01086,0.00816,0.00473,99.055,14.224,17.273,84.481,42.023,91.064
2,98.0,0.00000,0.06736,0.60866,0.54267,0.37995,0.26187,0.18219,0.12459,0.08934,...,0.04546,0.04571,0.02525,0.02245,31.418,5.391,5.827,21.641,14.961,52.109
3,38.0,0.00000,0.00289,0.17648,0.65182,0.59096,0.46640,0.33417,0.26282,0.19462,...,0.12050,0.09018,0.06237,0.03905,11.022,0.216,2.846,4.603,6.347,9.953
4,15.0,0.00000,0.00000,0.02083,0.31063,0.96038,1.43483,1.48038,1.28849,1.09754,...,0.73253,0.63114,0.43566,0.31448,6.375,0.782,0.858,1.627,3.259,3.985
5,3.0,0.00000,0.00000,0.00012,0.00249,0.02374,0.13080,0.50551,0.99004,1.41225,...,2.12945,2.32670,2.65145,2.77131,0.713,0.286,0.000,0.000,0.445,0.221

In [9]:
procs=['observation','sgn1','wj1','dy1','tt1','vv1','qcd1','st1']
link=[9,14, 122 , 129 , 136 , 143 , 150 , 157, 164]

In [10]:
for s in range(1,15):
    for j in range(0,6):
        card_path='/Users/diegobarbosa/Desktop/Limits/LimitCardsMaker_Zprime_13TeV_2021/output_etau/zprime_tautau1.txt'
        with open(card_path, 'r') as file:
            lines=file.readlines()
        ob=np.round(data1.iloc[j][0],4)
        rt=np.round(data1.iloc[j][s],4)
        wj=np.round(data1.iloc[j][15],4)
        dy=np.round(data1.iloc[j][16],4)
        tt=np.round(data1.iloc[j][17],4)
        vv=np.round(data1.iloc[j][18],4)
        qc=np.round(data1.iloc[j][19],4)
        st=np.round(data1.iloc[j][20],4)
        obe=np.round(data.iloc[j][0],4)
        rte=np.round(data.iloc[j][s],4)
        wje=np.round(data.iloc[j][15],4)
        dye=np.round(data.iloc[j][16],4)
        tte=np.round(data.iloc[j][17],4)
        vve=np.round(data.iloc[j][18],4)
        qce=np.round(data.iloc[j][19],4)
        ste=np.round(data.iloc[j][20],4)
        modf9='observation\t'+str(np.round((ob).astype(int),0))
        modf14='rate           {}\t{}\t{}\t{}\t{}\t{}\t{}'.format(rt,wj,dy,tt,vv,qc,st) 
        modf124='{}\tlnN    -\t-\t{}\t-\t-\t-\t-'.format(procs[3]+str(j),dye)
        modf130='{}\tlnN    -\t{}\t-\t-\t-\t-\t-'.format(procs[2]+str(j),wje)
        modf139='{}\tlnN    -\t-\t-\t{}\t-\t-\t-'.format(procs[4]+str(j),tte)
        modf149='{}\tlnN    -\t-\t-\t-\t-\t-\t{}'.format(procs[7]+str(j),ste)
        modf155='{}\tlnN    -\t-\t-\t-\t-\t{}\t-'.format(procs[6]+str(j),qce)
        modf161='{}\tlnN    -\t-\t-\t-\t{}\t-\t-'.format(procs[5]+str(j),vve)
        modf164='{}\tlnN    {}\t-\t-\t-\t-\t-\t-'.format(procs[1]+str(j),rte)
    
        if rte==0.0:
            modf164='{}\tlnN    -\t-\t-\t-\t-\t-\t-'.format(procs[1]+str(j))
        if vve==0.0:
            modf161='{}\tlnN    -\t-\t-\t-\t-\t-\t-'.format(procs[5]+str(j))    
        if tte==0.0:
            modf164='{}\tlnN    -\t-\t-\t-\t-\t-\t-'.format(procs[1]+str(j))
        if ste==0.0:
            modf149='{}\tlnN    -\t-\t-\t-\t-\t-\t-'.format(procs[7]+str(j))
        if dye==0.0 or dye<=0.9:
            modf124='{}\tlnN    -\t-\t-\t-\t-\t-\t-'.format(procs[3]+str(j))
        if wje==0.0 or wje<=0.9:
            modf130='{}\tlnN    -\t-\t-\t-\t-\t-\t-'.format(procs[2]+str(j))
        if tte==0.0 or tte<=0.9:
            modf139='{}\tlnN    -\t-\t-\t-\t-\t-\t-'.format(procs[4]+str(j))
        if qce==0.13:
            modf155='{}\tlnN    -\t-\t-\t-\t-\t{}\t-'.format(procs[6]+str(j),1.8)
        vecs=[modf9,modf14,modf124,modf130,modf139,modf149,modf155,modf161,modf164]

        for i in range(0,len(link)):
            if (link[i]<100):
                line_number=link[i]
            #print(line_number)
            elif (link[i]>100):
                line_number=link[i]+j
            #print(line_number, str(j))
            
            if (0 < line_number <= len(lines)):
                    lines[line_number - 1] = vecs[i]+ '\n'
                
        cards_path='/Users/diegobarbosa/Desktop/Limits/LimitCardsMaker_Zprime_13TeV_2021/output_etau/zprime_{}_2018_signals_{}_{}.txt'.format('etau',str(s+1),str(j+2))
        with open(cards_path, 'w') as file:
            file.writelines(lines)