In [1]:
import pandas as pd
import re
import linecache
import numpy as np
file_path='/Users/diegobarbosa/Desktop/Limits/LimitCardsMaker_Zprime_13TeV_2021/output_mutau/output_mutau_errors.txt'
file_path1='/Users/diegobarbosa/Desktop/Limits/LimitCardsMaker_Zprime_13TeV_2021/output_mutau/output_mutau_yields.txt'
column_names = ['Errors_data', 'errors_Z0250', 'errors_Z0500', 'errors_Z0750', 'errors_Z1000',
               'errors_Z1250', 'errors_Z1500', 'errors_Z1750', 'errors_Z2000', 'errors_Z2250', 
               'errors_Z2500', 'errors_Z2750', 'errors_Z3000', 'errors_Z3500', 'errors_Z4000', 
               'errors_W+Jets','errors_DY+Jets', 'errors_ttbar', 'errors_VV', 'errors_QCD',
                'errors_SingleTop']
column_names1 = ['data', 'Z0250', 'Z0500', 'Z0750', 'Z1000',
               'Z1250', 'Z1500', 'Z1750', 'Z2000', 'Z2250', 
               'Z2500', 'Z2750', 'Z3000', 'Z3500', 'Z4000', 
               'W+Jets','DY+Jets', 'ttbar', 'VV', 'QCD',
                'SingleTop']

In [2]:
data = pd.read_csv(file_path,sep='  ',names=column_names)
data1=pd.read_csv(file_path1,delimiter='\t',names=column_names1)

/Users/diegobarbosa/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [3]:
data

,Errors_data,errors_Z0250,errors_Z0500,errors_Z0750,errors_Z1000,errors_Z1250,errors_Z1500,errors_Z1750,errors_Z2000,errors_Z2250,...,errors_Z2750,errors_Z3000,errors_Z3500,errors_Z4000,errors_W+Jets,errors_DY+Jets,errors_ttbar,errors_VV,errors_QCD,errors_SingleTop
0,0.0,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,2.00,0.00,0.00,0.00,1.18,1.59,2.12,1.71
1,0.0,1.04,1.03,1.04,1.06,1.08,1.10,1.21,1.20,1.23,...,1.26,1.51,1.32,1.60,1.17,1.12,1.05,1.04,1.23,1.09
2,0.0,1.15,1.01,1.02,1.02,1.03,1.03,1.06,1.07,1.08,...,1.11,1.11,1.14,1.16,1.15,1.12,1.06,1.04,1.23,1.11
3,0.0,0.00,1.04,1.01,1.01,1.02,1.02,1.03,1.04,1.04,...,1.06,1.06,1.08,1.09,1.18,1.07,1.07,1.07,1.23,1.20
4,0.0,0.00,1.18,1.02,1.01,1.01,1.01,1.02,1.03,1.03,...,1.04,1.05,1.06,1.06,1.29,1.08,1.11,1.12,1.24,1.33
5,0.0,0.00,2.00,1.07,1.02,1.01,1.01,1.01,1.01,1.01,...,1.02,1.02,1.02,1.03,1.30,1.07,1.21,1.14,1.26,2.00
6,0.0,0.00,0.00,1.47,1.17,1.06,1.03,1.02,1.01,1.01,...,1.01,1.01,1.01,1.01,1.40,1.08,0.00,1.34,1.50,0.00

In [4]:
#3% W+jets
#5.49 DY+Jets
#5 ttbar
#########2017########################
#data.iloc[:,15]=data.iloc[:,15]+0.03 #W+Jets
#data.iloc[:,16]=data.iloc[:,16]+0.0549 #DY+Jets
#data.iloc[:,17]=data.iloc[:,17]+0.05 #ttbar
########2016#########################
#data.iloc[:,15]=data.iloc[:,15]+0.03 #W+Jets
#data.iloc[:,16]=data.iloc[:,16]+0.0612 #DY+Jets
#data.iloc[:,17]=data.iloc[:,17]+0.0686 #ttbar
########2018#########################
data.iloc[:,15]=data.iloc[:,15]+0.033 #W+Jets
data.iloc[:,16]=data.iloc[:,16]+0.0666 #DY+Jets
data.iloc[:,17]=data.iloc[:,17]+0.0476 #ttbar
####################################

In [5]:
data

,Errors_data,errors_Z0250,errors_Z0500,errors_Z0750,errors_Z1000,errors_Z1250,errors_Z1500,errors_Z1750,errors_Z2000,errors_Z2250,...,errors_Z2750,errors_Z3000,errors_Z3500,errors_Z4000,errors_W+Jets,errors_DY+Jets,errors_ttbar,errors_VV,errors_QCD,errors_SingleTop
0,0.0,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,2.00,0.00,0.033,0.0666,1.2276,1.59,2.12,1.71
1,0.0,1.04,1.03,1.04,1.06,1.08,1.10,1.21,1.20,1.23,...,1.26,1.51,1.32,1.60,1.203,1.1866,1.0976,1.04,1.23,1.09
2,0.0,1.15,1.01,1.02,1.02,1.03,1.03,1.06,1.07,1.08,...,1.11,1.11,1.14,1.16,1.183,1.1866,1.1076,1.04,1.23,1.11
3,0.0,0.00,1.04,1.01,1.01,1.02,1.02,1.03,1.04,1.04,...,1.06,1.06,1.08,1.09,1.213,1.1366,1.1176,1.07,1.23,1.20
4,0.0,0.00,1.18,1.02,1.01,1.01,1.01,1.02,1.03,1.03,...,1.04,1.05,1.06,1.06,1.323,1.1466,1.1576,1.12,1.24,1.33
5,0.0,0.00,2.00,1.07,1.02,1.01,1.01,1.01,1.01,1.01,...,1.02,1.02,1.02,1.03,1.333,1.1366,1.2576,1.14,1.26,2.00
6,0.0,0.00,0.00,1.47,1.17,1.06,1.03,1.02,1.01,1.01,...,1.01,1.01,1.01,1.01,1.433,1.1466,0.0476,1.34,1.50,0.00

In [6]:
data1.iloc[:,1:15]=data1.iloc[:,1:15]*0.01

In [7]:
data1

,data,Z0250,Z0500,Z0750,Z1000,Z1250,Z1500,Z1750,Z2000,Z2250,...,Z2750,Z3000,Z3500,Z4000,W+Jets,DY+Jets,ttbar,VV,QCD,SingleTop
0,7.0,0.00013,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00026,0.00000,0.000,0.000,2.604,0.223,0.012,0.431
1,879.0,0.09431,0.15253,0.07176,0.03409,0.02065,0.01467,0.00609,0.00683,0.00491,...,0.00382,0.00112,0.00248,0.00065,166.748,331.387,157.792,54.904,53.090,31.052
2,566.0,0.00598,0.66068,0.57422,0.31800,0.19153,0.12059,0.07927,0.05626,0.04263,...,0.02249,0.02104,0.01511,0.00965,110.566,218.881,102.237,55.873,41.583,24.592
3,168.0,0.00000,0.11750,0.85998,0.75541,0.53027,0.36241,0.24247,0.18339,0.13157,...,0.08629,0.06305,0.03951,0.02901,45.318,53.712,27.438,18.485,10.684,7.222
4,40.0,0.00000,0.00437,0.25550,0.85082,0.80595,0.61689,0.47228,0.34555,0.24425,...,0.15660,0.12416,0.08385,0.06907,8.805,17.155,7.690,5.854,2.578,3.160
5,22.0,0.00000,0.00014,0.03135,0.43464,1.26565,1.79129,1.88887,1.67609,1.39528,...,0.99224,0.81274,0.57129,0.41875,3.512,9.120,2.165,4.085,1.022,0.323
6,3.0,0.00000,0.00000,0.00057,0.00460,0.03472,0.18606,0.64576,1.21339,1.75515,...,2.53303,2.81793,3.18721,3.24855,0.295,0.945,0.000,0.646,0.065,0.000

In [8]:
procs=['observation','sgn1','wj1','dy1','tt1','vv1','qcd1','st1']
link=[9,14, 122 , 129 , 136 , 143 , 150 , 157, 164]

In [9]:
for s in range(1,15):
    for j in range(0,7):
        card_path='/Users/diegobarbosa/Desktop/Limits/LimitCardsMaker_Zprime_13TeV_2021/output_mutau/zprime_tautau1.txt'
        with open(card_path, 'r') as file:
            lines=file.readlines()
        ob=np.round(data1.iloc[j][0],4)
        rt=np.round(data1.iloc[j][s],4)
        wj=np.round(data1.iloc[j][15],4)
        dy=np.round(data1.iloc[j][16],4)
        tt=np.round(data1.iloc[j][17],4)
        vv=np.round(data1.iloc[j][18],4)
        qc=np.round(data1.iloc[j][19],4)
        st=np.round(data1.iloc[j][20],4)
        obe=np.round(data.iloc[j][0],4)
        rte=np.round(data.iloc[j][s],4)
        wje=np.round(data.iloc[j][15],4)
        dye=np.round(data.iloc[j][16],4)
        tte=np.round(data.iloc[j][17],4)
        vve=np.round(data.iloc[j][18],4)
        qce=np.round(data.iloc[j][19],4)
        ste=np.round(data.iloc[j][20],4)
        modf9='observation\t'+str(np.round((ob).astype(int),0))
        modf14='rate           {}\t{}\t{}\t{}\t{}\t{}\t{}'.format(rt,wj,dy,tt,vv,qc,st) 
        modf124='{}\tlnN    -\t-\t{}\t-\t-\t-\t-'.format(procs[3]+str(j),dye)
        modf130='{}\tlnN    -\t{}\t-\t-\t-\t-\t-'.format(procs[2]+str(j),wje)
        modf139='{}\tlnN    -\t-\t-\t{}\t-\t-\t-'.format(procs[4]+str(j),tte)
        modf149='{}\tlnN    -\t-\t-\t-\t-\t-\t{}'.format(procs[7]+str(j),ste)
        modf155='{}\tlnN    -\t-\t-\t-\t-\t{}\t-'.format(procs[6]+str(j),qce)
        modf161='{}\tlnN    -\t-\t-\t-\t{}\t-\t-'.format(procs[5]+str(j),vve)
        modf164='{}\tlnN    {}\t-\t-\t-\t-\t-\t-'.format(procs[1]+str(j),rte)
    
        if rte==0.0:
            modf164='{}\tlnN    -\t-\t-\t-\t-\t-\t-'.format(procs[1]+str(j))
        if ste==0.0:
            modf149='{}\tlnN    -\t-\t-\t-\t-\t-\t-'.format(procs[7]+str(j))
        if dye==0.0 or dye<=0.9:
            modf124='{}\tlnN    -\t-\t-\t-\t-\t-\t-'.format(procs[3]+str(j))
        if wje==0.0 or dye<=0.9:
            modf130='{}\tlnN    -\t-\t-\t-\t-\t-\t-'.format(procs[2]+str(j))
        if tte==0.0:
            modf139='{}\tlnN    -\t-\t-\t-\t-\t-\t-'.format(procs[4]+str(j))
        if qce==0.13:
            modf155='{}\tlnN    -\t-\t-\t-\t-\t{}\t-'.format(procs[6]+str(j),1.8)
        vecs=[modf9,modf14,modf124,modf130,modf139,modf149,modf155,modf161,modf164]

        for i in range(0,len(link)):
            if (link[i]<100):
                line_number=link[i]
            #print(line_number)
            elif (link[i]>100):
                line_number=link[i]+j
            #print(line_number, str(j))
            
            if (0 < line_number <= len(lines)):
                    lines[line_number - 1] = vecs[i]+ '\n'
                
        cards_path='/Users/diegobarbosa/Desktop/Limits/LimitCardsMaker_Zprime_13TeV_2021/output_mutau/zprime_{}_2018_signals_{}_{}.txt'.format('mutau',str(s+1),str(j+2))
        with open(cards_path, 'w') as file:
            file.writelines(lines)

In [11]:
1+0.09/0.96

1.09375