In [1]:
import pandas as pd
import re
import linecache
import numpy as np
file_path='/Users/diegobarbosa/Desktop/Limits/LimitCardsMaker_Zprime_13TeV_2021/output_tautau/output_tautau_errors.txt'
file_path1='/Users/diegobarbosa/Desktop/Limits/LimitCardsMaker_Zprime_13TeV_2021/output_tautau/output_tautau_yields.txt'
column_names = ['Errors_data', 'errors_Z0250', 'errors_Z0500', 'errors_Z0750', 'errors_Z1000',
               'errors_Z1250', 'errors_Z1500', 'errors_Z1750', 'errors_Z2000', 'errors_Z2250', 
               'errors_Z2500', 'errors_Z2750', 'errors_Z3000', 'errors_Z3500', 'errors_Z4000', 
               'errors_W+Jets','errors_DY+Jets', 'errors_ttbar', 'errors_VV', 'errors_QCD',
                'errors_SingleTop']
column_names1 = ['data', 'Z0250', 'Z0500', 'Z0750', 'Z1000',
               'Z1250', 'Z1500', 'Z1750', 'Z2000', 'Z2250', 
               'Z2500', 'Z2750', 'Z3000', 'Z3500', 'Z4000', 
               'W+Jets','DY+Jets', 'ttbar', 'VV', 'QCD',
                'SingleTop']

In [2]:
data = pd.read_csv(file_path,sep='  ',names=column_names)
data1=pd.read_csv(file_path1,delimiter='\t',names=column_names1)

/Users/diegobarbosa/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [3]:
data

,Errors_data,errors_Z0250,errors_Z0500,errors_Z0750,errors_Z1000,errors_Z1250,errors_Z1500,errors_Z1750,errors_Z2000,errors_Z2250,...,errors_Z2750,errors_Z3000,errors_Z3500,errors_Z4000,errors_W+Jets,errors_DY+Jets,errors_ttbar,errors_VV,errors_QCD,errors_SingleTop
0,0.0,1.05,1.04,1.08,1.12,1.18,1.26,1.71,1.34,1.71,...,0.00,1.58,1.75,0.00,1.25,1.12,1.15,1.33,1.13,1.71
1,0.0,1.19,1.02,1.02,1.03,1.04,1.06,1.12,1.14,1.18,...,1.28,1.26,1.29,1.61,1.24,1.11,1.19,1.21,1.20,1.71
2,0.0,0.00,1.03,1.01,1.02,1.02,1.03,1.05,1.06,1.08,...,1.12,1.13,1.16,1.22,1.23,1.05,1.48,1.24,1.49,1.71
3,0.0,0.00,1.19,1.02,1.01,1.02,1.02,1.03,1.04,1.05,...,1.07,1.08,1.09,1.12,1.56,1.06,1.45,1.36,1.53,0.00
4,0.0,1.41,1.06,1.02,1.01,1.01,1.01,1.02,1.02,1.02,...,1.03,1.03,1.04,1.58,1.05,1.71,1.33,1.82,0.00,0.00
5,0.0,0.00,1.38,1.15,1.06,1.02,1.02,1.01,1.01,1.01,...,1.01,1.01,1.01,0.00,1.07,0.00,1.56,1.81,0.00,0.00

In [4]:
data1

,data,Z0250,Z0500,Z0750,Z1000,Z1250,Z1500,Z1750,Z2000,Z2250,...,Z2750,Z3000,Z3500,Z4000,W+Jets,DY+Jets,ttbar,VV,QCD,SingleTop
0,179.0,2.836,3.371,1.024,0.472,0.219,0.100,0.030,0.111,0.028,...,0.000,0.039,0.019,0.000,11.388,82.475,2.945,0.909,74.288,0.354
1,114.0,0.189,24.757,14.687,6.880,3.564,1.859,0.874,0.725,0.439,...,0.174,0.191,0.159,0.033,9.641,71.608,1.700,3.001,41.479,0.395
2,40.0,0.000,5.514,37.332,24.641,13.099,7.999,4.979,3.227,2.003,...,1.024,0.830,0.497,0.264,9.198,24.046,0.514,2.382,6.361,0.377
3,6.0,0.000,0.185,13.975,37.861,27.383,18.229,10.921,7.548,4.735,...,2.986,2.148,1.566,0.880,0.891,8.378,0.197,1.077,4.390,0.000
4,13.0,0.000,0.040,1.558,23.540,62.097,80.693,71.580,54.732,41.667,...,24.251,18.666,12.231,8.821,0.693,4.449,0.092,1.443,2.022,0.000
5,0.0,0.000,0.000,0.047,0.295,2.145,10.832,36.605,65.020,87.750,...,117.752,128.303,139.722,144.673,0.000,0.513,0.000,0.549,0.245,0.000

In [5]:
#data.iloc[:,16]=data.iloc[:,16]+0.0179 #DY+Jets
data1.iloc[:,1:15]=data1.iloc[:,1:15]*0.01

In [6]:
data1

,data,Z0250,Z0500,Z0750,Z1000,Z1250,Z1500,Z1750,Z2000,Z2250,...,Z2750,Z3000,Z3500,Z4000,W+Jets,DY+Jets,ttbar,VV,QCD,SingleTop
0,179.0,0.02836,0.03371,0.01024,0.00472,0.00219,0.00100,0.00030,0.00111,0.00028,...,0.00000,0.00039,0.00019,0.00000,11.388,82.475,2.945,0.909,74.288,0.354
1,114.0,0.00189,0.24757,0.14687,0.06880,0.03564,0.01859,0.00874,0.00725,0.00439,...,0.00174,0.00191,0.00159,0.00033,9.641,71.608,1.700,3.001,41.479,0.395
2,40.0,0.00000,0.05514,0.37332,0.24641,0.13099,0.07999,0.04979,0.03227,0.02003,...,0.01024,0.00830,0.00497,0.00264,9.198,24.046,0.514,2.382,6.361,0.377
3,6.0,0.00000,0.00185,0.13975,0.37861,0.27383,0.18229,0.10921,0.07548,0.04735,...,0.02986,0.02148,0.01566,0.00880,0.891,8.378,0.197,1.077,4.390,0.000
4,13.0,0.00000,0.00040,0.01558,0.23540,0.62097,0.80693,0.71580,0.54732,0.41667,...,0.24251,0.18666,0.12231,0.08821,0.693,4.449,0.092,1.443,2.022,0.000
5,0.0,0.00000,0.00000,0.00047,0.00295,0.02145,0.10832,0.36605,0.65020,0.87750,...,1.17752,1.28303,1.39722,1.44673,0.000,0.513,0.000,0.549,0.245,0.000

In [7]:
data.iloc[:,16]=data.iloc[:,16]*1.20

In [8]:
data

,Errors_data,errors_Z0250,errors_Z0500,errors_Z0750,errors_Z1000,errors_Z1250,errors_Z1500,errors_Z1750,errors_Z2000,errors_Z2250,...,errors_Z2750,errors_Z3000,errors_Z3500,errors_Z4000,errors_W+Jets,errors_DY+Jets,errors_ttbar,errors_VV,errors_QCD,errors_SingleTop
0,0.0,1.05,1.04,1.08,1.12,1.18,1.26,1.71,1.34,1.71,...,0.00,1.58,1.75,0.00,1.25,1.344,1.15,1.33,1.13,1.71
1,0.0,1.19,1.02,1.02,1.03,1.04,1.06,1.12,1.14,1.18,...,1.28,1.26,1.29,1.61,1.24,1.332,1.19,1.21,1.20,1.71
2,0.0,0.00,1.03,1.01,1.02,1.02,1.03,1.05,1.06,1.08,...,1.12,1.13,1.16,1.22,1.23,1.260,1.48,1.24,1.49,1.71
3,0.0,0.00,1.19,1.02,1.01,1.02,1.02,1.03,1.04,1.05,...,1.07,1.08,1.09,1.12,1.56,1.272,1.45,1.36,1.53,0.00
4,0.0,1.41,1.06,1.02,1.01,1.01,1.01,1.02,1.02,1.02,...,1.03,1.03,1.04,1.58,1.05,2.052,1.33,1.82,0.00,0.00
5,0.0,0.00,1.38,1.15,1.06,1.02,1.02,1.01,1.01,1.01,...,1.01,1.01,1.01,0.00,1.07,0.000,1.56,1.81,0.00,0.00

In [9]:
procs=['observation','sgn1','wj1','dy1','tt1','vv1','qcd1','st1']
link=[9,14, 122 , 129 , 136 , 143 , 150 , 157, 164]

In [10]:
for s in range(1,15):
    for j in range(0,6):
        card_path='/Users/diegobarbosa/Desktop/Limits/LimitCardsMaker_Zprime_13TeV_2021/output_tautau/zprime_tautau.txt'
        with open(card_path, 'r') as file:
            lines=file.readlines()
        ob=np.round(data1.iloc[j][0],4)
        rt=np.round(data1.iloc[j][s],4)
        wj=np.round(data1.iloc[j][15],4)
        dy=np.round(data1.iloc[j][16],4)
        tt=np.round(data1.iloc[j][17],4)
        vv=np.round(data1.iloc[j][18],4)
        qc=np.round(data1.iloc[j][19],4)
        st=np.round(data1.iloc[j][20],4)
        obe=np.round(data.iloc[j][0],4)
        rte=np.round(data.iloc[j][s],4)
        wje=np.round(data.iloc[j][15],4)
        dye=np.round(data.iloc[j][16],4)
        tte=np.round(data.iloc[j][17],4)
        vve=np.round(data.iloc[j][18],4)
        qce=np.round(data.iloc[j][19],4)
        ste=np.round(data.iloc[j][20],4)
        modf9='observation\t'+str(np.round((ob).astype(int),0))
        modf14='rate           {}\t{}\t{}\t{}\t{}\t{}\t{}'.format(rt,wj,dy,tt,vv,qc,st) 
        modf124='{}\tlnN    -\t-\t{}\t-\t-\t-\t-'.format(procs[3]+str(j),dye)
        modf130='{}\tlnN    -\t{}\t-1.02\t-\t-\t-\t-'.format(procs[2]+str(j),wje)
        modf139='{}\tlnN    -\t-\t-\t{}\t-\t-\t-'.format(procs[4]+str(j),tte)
        modf149='{}\tlnN    -\t-\t-\t-\t-\t-\t{}'.format(procs[7]+str(j),ste)
        modf155='{}\tlnN    -\t-\t-\t-\t-\t{}\t-'.format(procs[6]+str(j),qce)
        modf161='{}\tlnN    -\t-\t-\t-\t{}\t-\t-'.format(procs[5]+str(j),vve)
        modf164='{}\tlnN    {}\t-\t-\t-\t-\t-\t-'.format(procs[1]+str(j),rte)
    
        if rte==0.0:
            modf164='{}\tlnN    -\t-\t-\t-\t-\t-\t-'.format(procs[1]+str(j))
        if ste==0.0:
            modf149='{}\tlnN    -\t-\t-\t-\t-\t-\t-'.format(procs[7]+str(j))
        if dye==0.0:
            modf124='{}\tlnN    -\t-\t-\t-\t-\t-\t-'.format(procs[3]+str(j))
        if tte==0.0:
            modf139='{}\tlnN    -\t-\t-\t-\t-\t-\t-'.format(procs[4]+str(j))
        if qce==0.0:
            modf155='{}\tlnN    -\t-\t-\t-\t-\t{}\t-'.format(procs[6]+str(j),1.8)
        vecs=[modf9,modf14,modf124,modf130,modf139,modf149,modf155,modf161,modf164]

        for i in range(0,len(link)):
            if (link[i]<100):
                line_number=link[i]
            #print(line_number)
            elif (link[i]>100):
                line_number=link[i]+j
            #print(line_number, str(j))
            
            if (0 < line_number <= len(lines)):
                    lines[line_number - 1] = vecs[i]+ '\n'
                
        cards_path='/Users/diegobarbosa/Desktop/Limits/LimitCardsMaker_Zprime_13TeV_2021/output_tautau/zprime_{}_2016_signals_{}_{}.txt'.format('tautau',str(s+1),str(j+2))
        with open(cards_path, 'w') as file:
            file.writelines(lines)